<ion-view id="new-sale" view-title="Nueva Venta" cache-view="false">
  <ion-content>
    <a class="button button-positive button-full icon-left ion-location"
       ng-click="vm.locateClient()"
       ng-if="!vm.sale.client">
      Localizar Cliente
    </a>
    <ion-list>

      <!--input and button form-->
      <ion-item class="item item-input-inset">
        <label class="item item-input item-input-wrapper">
          <form ng-submit="vm.captureProduct()">
            <input ng-model="vm.productCode" type="number" placeholder="Capture código de producto">
          </form>
        </label>
        <button class="button" ng-click="vm.captureProduct()">
          Capturar
        </button>
      </ion-item>

      <ion-item class="item item-divider">
        Current Sale Products:
      </ion-item>
      <!--Starts list of captured products-->
      <ion-scroll>
        <ion-item class="item-icon-left" ng-repeat="product in vm.sale.products">
          <i class="icon">1</i>
          <h2>{{product.sku}}</h2>
          <p>{{product.description}}</p>
          <p>{{product.price | currency}}</p>
        </ion-item>
      </ion-scroll>
      <!--Ends list of captured products-->
    </ion-list>
  </ion-content>
</ion-view>
