<ion-view id="new-sale" view-title="Nueva Venta" cache-view="false">
  <ion-content>
    <a
        class="button button-positive button-full icon-left ion-location"
        ng-click="vm.locateClient()"
        ng-if="!vm.sale.client"
    >
      Localizar Cliente
    </a>
    <ion-list>
      <ion-item class="item item-input-inset">
        <label class="item item-input item-input-wrapper">
          <form ng-submit="vm.captureProduct()">
            <input ng-model="vm.productCode" type="number" placeholder="Capture código de producto">
          </form>
        </label>
        <button class="button">
          Capturar
        </button>
      </ion-item>
      <ion-item class="item-icon-left">
        <i class="icon">99</i>
        <h2>12597</h2>
        <p>Cinta para señalización</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
