<ion-view id="view" view-title="Detalles de Órden" cache-view="false">
  <ion-content>
    <ion-list>

      <ion-item>
        Cliente:
        <span class="item-note">
          Juan Doe
        </span>
      </ion-item>

      <ion-item class="item item-divider">
        Productos:
      </ion-item>
      <!--Starts list of captured products-->
      <ion-scroll>
        <ion-item class="item-icon-left" ng-repeat="item in vm.sale.items">
          <i class="icon">{{item.quantity}}</i>
          <h2>{{item.sku}}</h2>
          <p>{{item.description}}</p>
          <p>{{item.price | currency}}</p>
        </ion-item>
      </ion-scroll>
      <!--Ends list of captured products-->

    </ion-list>
    <a class="button button-positive button-full icon-left ion-location"
       ng-click="vm.locateClient()"
       ng-if="!vm.sale.client">
      Localizar Cliente
    </a>
  </ion-content>
</ion-view>
